@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #4875f7;
  --selection: #63f49c;
  --accent: #63f49c;
  --link: #5f4cf1;
  --grey-bg: #f1f1f1ab;
  --border-gray: #eaeaea;
  --secondary: #5f4cf1;
  scroll-behavior: smooth;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden; */
/* background: var(--grey-bg); */
/* color: #999999; */
/* } */

/* .newsletter {
  background: linear-gradient(45deg, var(--secondary), var(--brand));
} */

/* .gradient {
  background: -webkit-linear-gradient(45deg, var(--brand), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

a {
  color: inherit;
  text-decoration: none;
}

/* @font-face { */
/* font-family: "DefaultFont"; */
/* font-style: normal;
  font-weight: 100 900;
  font-display: block; */
/* src: url(/public/fonts/Rubik-Bold.ttf);
} */

/* @font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format("woff2");
  font-named-instance: "Italic";
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background: #e2eafe73;
  /* font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  /* 
    font-feature-settings: "case" 1, "cpsp" 1, "dlig" 1, "cv01" 1, "cv02",
    "cv03" 1, "cv04" 1;
    font-variation-settings: "wght" 450;
    */
  letter-spacing: -0.02em;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant: common-ligatures contextual;
}

b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: "wght" 650;
}

/* @media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
} */

.tab-link:nth-child(odd) {
  border-color: #03a9f4;
}

.tab-link:nth-child(even) {
  border-color: #ffc107;
}

.tab-link:nth-child(odd):hover {
  background: #03a9f4;
}

.tab-link:nth-child(even):hover {
  background: #ffc107;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

img.next-image {
  margin: 0;
  width: 100%;
}

img.search-icon,
img.theme-icon {
  opacity: 0.3;
  cursor: pointer;
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

img.blog-grid-banner {
  background: #f1f1f1;
  border-radius: 5px;
}

.blog-card:hover p {
  color: var(--brand);
}

/* header { */
/* backdrop-filter: blur(5px);
  background: rgba(239, 239, 239, 0.838); */
/* background: #fff; */
/* } */

.gradient-text {
  background: -webkit-linear-gradient(123deg, #ff822d, #ffc107);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::selection {
  background: var(--selection);
}

/* .big-home-text-container { */
/* background-color: #ffffff;
  background-image: radial-gradient(#0071f311 3px, transparent 0.75px), radial-gradient(#fff 0.75px, #ffffff 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px; */
/* background: #f5f5f5de; */
/* } */

#hero-subtext {
  line-height: 40px;
}

::-webkit-scrollbar {
  display: none;
}

.multiline--2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.multiline--3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.multiline--4 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.multiline--5 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.multiline--6 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.menu-btn {
  width: 25px;
}

.menu-btn > div {
  border-radius: 9999px;
  height: 2px;
  margin-bottom: 5px;
  width: 100%;
  background: #000;
}

.md-viewer {
  white-space: pre-wrap;
}

.md-viewer a {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: block;
  color: var(--link);
  text-decoration: underline;
  display: unset;
}

.md-viewer a:hover {
  text-decoration: none;
}

.md-viewer ul li {
  margin-bottom: -20px;
  list-style: none;
  margin-left: 20px;
  font-family: inherit;
  color: inherit;
}

.md-viewer ul {
  margin-top: -50px;
}

.md-viewer ul li,
.md-viewer p {
  color: #3e3e3e;
  line-height: 38px;
}

.md-viewer ul li::before {
  content: "\2022";
  color: var(--secondary);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.md-viewer img,
.md-viewer video {
  border: 1px solid var(--border-gray);
  border-radius: 10px;
  width: 100%;
}

.md-viewer pre {
  background: #ffffffab;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--border-gray);
}

.md-viewer pre code {
  background: transparent;
}

.md-viewer code {
  background: #fffae0;
}

.md-viewer blockquote {
  border-left: 3px solid var(--brand);
  padding-left: 14px;
  font-size: 1.8rem;
  font-style: italic;
}

.md-viewer h1,
.md-viewer h2,
.md-viewer h3,
.md-viewer h4,
.md-viewer h5,
.md-viewer h2 {
  margin-top: 50px;
  font-weight: 500;
}

.drawer {
  animation: drawer 0.2s ease-in-out;
}

@keyframes drawer {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
  /* border-radius: 3px; */
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.3rem;
  }
}
